input[type=checkbox] {
  accent-color: red;
}

input[type=radio] {
  accent-color: green;
}

input[type=range] {
  accent-color: rgb(0, 0, 255);
}

progress {
  accent-color: hsl(39, 100%, 50%);
}

h3 {
  background-color: green;
}

/* css commnets align-content Property */
#main {
  width: 100px;
  height: 180px;
  border: 3px solid #380101;
  display: flex;
  flex-wrap: wrap-reverse; 
  align-content: center;
}

#main div {
  width: 100px;
  height: 60px;
}
