<h1>HTML ALL TAG</h1>
<p>MY NAME IS SALMAN KHAN .</p>
<p>
  This is a <br />
  paragraph with a line break.
</p>
<a href="https://www.w3schools.com">Visit W3Schools</a>
<img src="img_girl.jpg" />
<img src="img_girl.jpg" width="500" height="600" />
<img src="img_girl.jpg" alt="Girl with a jacket" />
<p style="color:red;">This is a red paragraph.</p>
<p title="I'm a tooltip">This is a paragraph.</p>
<p><b>salman khan</b></p>
<h1>salman 1</h1>
<h2>salman 2</h2>
<h3>salman 3</h3>
<h4>salman 4</h4>
<h5>salman 5</h5>
<h6>salman 6</h6>
