<picture>
  <source media="(min-width:650px)" srcset="img_pink_flowers.jpg" />
  <source media="(min-width:465px)" srcset="img_white_flower.jpg" />
  <img src="img_orange_flowers.jpg" alt="Flowers" style="width:auto;" />
</picture>
<pre>salman</pre>
<progress id="file" value="32" max="100">32%</progress>
<ruby> Salman <rp>(</rp><rt>khan</rt><rp>)</rp> </ruby>
<ruby> S<rt> k </rt> </ruby>
<p><s>Only 50 tickets left!</s></p>
<p>SOLD OUT!</p>
<p>
  <samp>File not found.<br />Press F1 to continue</samp>
</p>
<script>
  document.getElementById("demo").innerHTML = "Hello JavaScript!";
</script>
<section>
  <h2>WWF History</h2>
  <p>The World Wide</p>
</section>
<select name="cars" id="cars">
  <option value="volvo">Volvo</option>
</select>
<p><small>This is some smaller text.</small></p>
<audio controls>
  <source src="horse.ogg" type="audio/ogg" />
  <source src="horse.mp3" type="audio/mpeg" />
  Your browser does not support the audio element.
</audio>
<p>My mother has <span style="color:blue">blue</span> eyes.</p>
<strong>This text is important!</strong>
<style>
  h1 {color:red;}
  p {color:blue;}
</style>
<svg width="100" height="100">
  <circle
    cx="50"
    cy="50"
    r="40"
    stroke="green"
    stroke-width="4"
    fill="yellow"
  />
</svg>
<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
</table>
<tbody>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
</tbody>
<tr>
  <td>Cell A</td>
  <td>Cell B</td>
</tr>
<template>
  <h2>Flower</h2>
  <img src="img_white_flower.jpg" width="214" height="204" />
</template>
<textarea id="w3review" name="w3review" rows="4" cols="50">
    At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
    </textarea
>
<tfoot>
  <tr>
    <td>Sum</td>
    <td>$180</td>
  </tr>
</tfoot>
<tr>
  <th>Month</th>
  <th>Savings</th>
</tr>
<thead>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
</thead>
<p>I have a date on <time datetime="2008-02-14 20:00">Valentines day</time>.</p>
<title>HTML Elements Reference</title>
<table>
  <tr>
    <th>Month</th>
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>
    <td>$100</td>
  </tr>
  <tr>
    <td>February</td>
    <td>$80</td>
  </tr>
</table>
<p>This is some <u>mispeled</u> text.</p>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<p>
  The area of a triangle is: 1/2 x <var>b</var> x <var>h</var>, where
  <var>b</var> is the base, and <var>h</var> is the vertical height.
</p>
<video width="320" height="240" controls>
  <source src="movie.mp4" type="video/mp4" />
  <source src="movie.ogg" type="video/ogg" />
  Your browser does not support the video tag.
</video>
<p>This is a <wbr />salma<wbr /> Khan</p>
